header {
    text-align: center;
    background-color: #E6E6FA;
    height: 100px;
}
nav a {
    color: #374550;

}
nav a:hover {
    color: black;
    background-color: white;

}
#valittu {

}
#etusivu {
}
#paasivu {
    text-align: center;
    background-image: url(kuvat/1.jpg);
}
footer {
    background-color: #374550;
}